/*.form-body{*/
/*    background-color: rgba(203, 203, 203, 0.8);*/
/*    color: #212121;*/
/*    padding: 50px;*/
/*    opacity: 0.8;*/
/*    margin-top: 30px;*/
/*}*/
/*.navbar-brand.btn{*/
/*    color: #fff !important;*/
/*}*/
/*.navbar.navbar-expand-md{*/
/*    background-color: rgba(66, 66, 66, 0.8) !important;*/
/*}*/
/*.container.main-body{*/

/*}*/
/*.events-item{*/
/*    background-color: rgba(87, 87, 87, 0.8) !important;*/
/*}*/
.profile-data h4{
    background-color: #242323 !important;
    font-size: 25px !important;
    padding: 5px !important;

}
.profile-data{

}
.profile-head{
    color: antiquewhite !important;
}
.profile-head h1{
    background-color: #908c8b !important;
    opacity: 0.8 !important;
}
.item-inner{
    margin: 5px !important;
    align-items: center;
}
.event-img{
    width: 200px !important;
    height: 200px !important;
}
.my-event{
    margin-left: 160px !important;
}
.jumbotron{
    background-image: url('/images/profile.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.8;
}
.guest-page{
    background-image: url('/images/profile.jpg') ;
    background-repeat: no-repeat;
    background-size: 100%;
}
.card{
    background-color: black !important;
    opacity: 0.6 !important;
    color: #fff !important;
}
.profile-complite{
    background-color: black !important;
    opacity: 0.6 !important;
    color: #fff !important;
    padding: 15px;
}
